Rule ~ Definition ~ First ~ Follow ~ Template
----------------~----------------~----------------~----------------~----------------
{{ range .Grammar.Rules -}}
{{ .Name }}~{{ .Definition }}~{{ .First }}~{{ .Follow }}~{{ .Template }}
{{ end }}


